@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #3f3f3f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed; 
  }
}

@font-face {
  font-family: 'GetSchwifty';
  src: url('/fonts/get_schwifty.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono), monospace;
}

h1, h2 {
  font-family: 'GetSchwifty', sans-serif;
}

  